/* some style */

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%;
}

.header {
    text-align: center;
}

.footer {
    border: 1px black solid;
}

.entries {
    text-align: left;
    background: deepskyblue;
    flex: 1 100%;
}

.entry {
    display: flex;
    flex: 1 100%;
    background: red;
}

.map {
    display: flex;
    background: gold;
}

#the-map {
    flex: 1;
}


@media all and (max-width: 800px) {
    .map {
        height: 500px;
        border: 1px black solid;
    }
}

@media all and (min-width: 600px) {
    .map {
        flex: 1 auto;
    }
}

@media all and (min-width: 800px) {
    .entries   { flex: 1 0px; }

    .entries   { order: 1; }
    .map       { order: 2; }
    .footer    { order: 3; }
}

body {
    padding: 0px;
    margin: 0px;
}
